.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  margin-top: 50px;
}

.jumbotron {
  padding: 20px 100px 50px 100px;
  max-width: 500px;
  margin: 0px auto;
  border-radius: 10px;
  margin-bottom: 50px;
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 0px;

  
}

button i {
  padding: 10px;
}

span {
  float: right;
  background: #ff3232;
  padding-left: 18px;
  padding-right: 18px;
  visibility: hidden;
}

span:hover {
  visibility: visible;
}

h1 {
  font-weight: 700;
}

li {
  background: white;
  min-height: 50px;
  line-height: 50px;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 500px;
  word-wrap: break-word;
}

li:nth-child(2n) {
    background: #E8E8E8;
}

li:hover {
  background: #BEBEBE;
  cursor: pointer;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

.form-group {
  margin-bottom: 0rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
